

.cardCad{
    height: 70vh;
    width: 70vw;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    border: 1.5px solid rgba(166, 25, 166, 0.668);
}

.text-section{

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;


    border-right: 1px solid black;

    border-radius: 20px 0px 0px 20px;
    font-weight: 700;
    
    width: 45%;

    background: rgb(35,10,27);
    background: linear-gradient(90deg, rgba(35,10,27,1) 0%, rgba(86,31,82,1) 35%, rgba(111,41,110,1) 100%);
    color: white;
}

.form-section{

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    border-left: 1px solid black;
    border-radius: 0px 20px 20px 0px;
    font-weight: 300;
    background: rgb(35,10,27);
    background: linear-gradient(260deg, rgba(35,10,27,1) 0%, rgba(86,31,82,1) 35%, rgba(111,41,110,1) 100%);
    color: #ffffff;

    width: 55%;
}

input{
    border: none;
    border-radius: 20px;
    background-color: antiquewhite;
    outline: none;
}

label{
    width: 90px;
    display: inline-block;
}

button{
    border: none;
    border-radius: 20px;
    background-color: rgba(69, 2, 120, 0.545);
    color: rgb(255, 255, 255);

    height: 65px;
    width: 160px;

    font-size: 20px;
}

button:hover{
    border: none;
    border-radius: 20px;
    background-color: rgba(69, 2, 120, 0.934);
    color: rgb(255, 255, 255);

    height: 70px;
    width: 170px;

    font-size: 20px;
    cursor: pointer;
}